<footer class="footer no-print">
    {% for item in site.data.settings.social %}
        {% assign first_char = item.link | slice: 0 %}
        {% if first_char == '/' %}
            <a href="{{ site.baseurl }}{{ item.link }}" title="{{ item.title }}">
                <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href="{{ item.link }}" target="_blank" title="{{ item.title }}">
                <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
            </a>
        {% endif %}
    {% endfor %}

    <div class="footer-description"><a href="{{ site.github.url }}/">© 2022 {{ site.author }}.</a></div>
</footer>
