table#posts-archive {
  &, tr, td {
    border-width: 0;
  }

  td {
    padding: 0.25em 0;
    vertical-align: top;
  }

  .archive-item {
    color: $light-gray-color;
  }

  .archive-item-date {
    padding-right: 10px;
    width: 10ch;
  }
}
