/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 615px;
}

.content-container {
  margin-bottom: 4rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

.header {
  margin-bottom: 3rem;
  display: flow-root;

  a {
    text-decoration: none;
  }

  a:hover {
    color:black;
  }

  h1 {
    margin-bottom: 0;
  }
}

.header-title a {
  color: $body-color;
  margin-bottom: 0;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
}

.menu-content {
  font-family: $sans-serif-font-family;
  font-weight: bold;
  float: left;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
}

@media (max-width: $elements-responsive-width) {
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
 * Hide elements when printing
 * https://stackoverflow.com/a/356123/14106506
 */
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.centered-image {
  display: block;
  width: 75%; /* Or whatever portion of the page you want it to be */
  margin: 0 auto; /* Horizontally centers image in its container */
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  margin: 2rem 0;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.icon {
  // https://codepen.io/sosuke/pen/Pjoqqp
  // applied to $light-gray-color
  filter: invert(65%) sepia(0%) saturate(271%) hue-rotate(198deg) brightness(96%) contrast(81%);
}

.icon:hover {
  // applied to $dark-gray color
  filter: invert(13%) sepia(82%) saturate(3%) hue-rotate(72deg) brightness(100%) contrast(85%);
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-size:0.8rem;

  a {
    color: $light-gray-color;
    padding: 10px;
    text-decoration: none;
  }

  a:hover {
    color: $dark-gray-color;
  }
}
